# Ant
bin
test-report
lib

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
bin
.classpath
.settings
.project

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Misc
*.log

# Vscode
.vscode

# notes
notes